<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450680356549-drqdd0upa4t1pc32ttbgf1pn3mo661gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450680356549-drqdd0upa4t1pc32ttbgf1pn3mo661gt</string>
	<key>API_KEY</key>
	<string>AIzaSyAXcUqVYYKLeTm0wBOLvB0YJKigYQOLkdw</string>
	<key>GCM_SENDER_ID</key>
	<string>450680356549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFcm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-fcm-67556</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fcm-67556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450680356549:ios:b05d3eb0f3b809d2fb3aac</string>
</dict>
</plist>